*{

    margin:0;
    padding:0;
    box-sizing:border-box;

    font-family:Poppins,sans-serif;

}

body{

    background:#f5fff5;

}

.dashboard-navbar{

    background:#2E7D32;

    height:70px;

}

.profile-img{

    width:40px;
    height:40px;

    border-radius:50%;

    background:white;

}

.dashboard{

    display:flex;

}

.sidebar{

    width:250px;

    background:#1B5E20;

    color:white;

    min-height:calc(100vh - 70px);

}

.sidebar ul{

    list-style:none;

    padding:20px 0;

}

.sidebar li{

    padding:18px 25px;

    cursor:pointer;

    transition:.3s;

}

.sidebar li:hover{

    background:#2E7D32;

}

.active{

    background:#43A047;

}

.content{

    flex:1;

    padding:40px;

}

.coming{

    margin-top:40px;

    height:350px;

    background:white;

    border-radius:15px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:25px;

    color:#2E7D32;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

/* ==========================
   Welcome Section
========================== */

.welcome-section{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

}

/* ==========================
   Dashboard Cards
========================== */

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:20px;

    margin-bottom:35px;

}

.card-box{

    background:#ffffff;

    padding:25px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

    transition:.3s;

}

.card-box:hover{

    transform:translateY(-8px);

}

.card-box i{

    font-size:40px;

    color:#2E7D32;

}

.card-box h3{

    margin-top:15px;

    font-size:30px;

    font-weight:bold;

}

.card-box p{

    color:#666;

}

/* ==========================
   Tables
========================== */

.table-section{

    background:#ffffff;

    padding:25px;

    border-radius:15px;

    margin-bottom:30px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.table-section h4{

    margin-bottom:20px;

    color:#2E7D32;

}

/* ==========================
   Information Cards
========================== */

.info-card{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

    margin-bottom:25px;

    min-height:220px;

}

.info-card h4{

    color:#2E7D32;

    margin-bottom:20px;

}

.info-card ul{

    padding-left:18px;

}

.info-card li{

    margin-bottom:10px;

}