.notification-card{

display:flex;

align-items:center;

justify-content:space-between;

background:#fff;

padding:20px;

margin-bottom:15px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

transition:.3s;

}

.notification-card:hover{

transform:translateY(-3px);

}

.unread{

border-left:5px solid #2E7D32;

}

.icon{

width:55px;

height:55px;

display:flex;

justify-content:center;

align-items:center;

color:#fff;

font-size:22px;

border-radius:50%;

margin-right:20px;

}

.details{

flex:1;

}

.details h5{

margin-bottom:5px;

}

.details p{

margin-bottom:5px;

color:#555;

}

.details small{

color:#888;

}