body{

background:#e8f5e9;

font-family:Poppins,sans-serif;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

}

.register-card{

background:white;

padding:40px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

width:700px;

}

h2{

color:#2E7D32;

font-weight:bold;

text-align:center;

}

p{

text-align:center;

margin-bottom:30px;

}